<div class="call-us-card-container">
    <div class="call-us-text-container">
        <h2 class="call-us-card-heading">Get Your Membership</h2>
        <p class="call-us-card-paragraph">Our memberships give you access to all equipment, personalized training.</p>

        <hr class="call-us-linebreak">

        <div class="call-us-number">Call us At: +(46) 8 410 521 00</div>
    </div>

    <a class="call-us-button" href="">
        Call us Today!
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
    </a>
    <div class="call-us-image-container">
        <img class="call-us-image" src="images/calluscard-image.svg" alt="A woman training in a gym">
    </div>
</div>