<section class="programs-section">
    <div class="programs-title-container">
        <div class="programs-dot"></div>
        Our Programs
    </div>

    <h4 class="programs-heading">
        Professional training program <br> for stronger health
    </h4>

    <div class="programs-image-container">
        <img src="images/program-image-1.svg" class="program-image1 program-image" alt="Person training in the gym">
        <img src="images/program-image-2.svg" class="program-image2 program-image" alt="Person training in the gym">
        <img src="images/program-image-3.svg" class="program-image3 program-image" alt="Person training in the gym">
    </div>

    <p class="programs-paragraph">
        Let's make something great work together. 
        <a href="/" class="programs-quote">
            Get Free Quote
        </a>
    </p>
</section>