@model SignInViewModel

<form asp-controller="SignIn" asp-action="Index" method="post" class="sign-up-form sign-in-form">
    <div asp-validation-summary="ModelOnly" class="validation-summary"></div>

    <div class="sign-up-input-container">
        <label asp-for="Email" class="sign-up-label">Email Address *</label>
        <input asp-for="Email" class="sign-up-input" placeholder="Enter Email Address">
        <span asp-validation-for="Email" class="input-validation"></span>

        <label asp-for="Password" class="sign-up-label">Password</label>
        <input asp-for="Password" type="password" class="sign-up-input" placeholder="Enter Password">
        <span asp-validation-for="Password" class="input-validation"></span>
    </div>    

    <button type="submit" class="sign-up-button set-password-button">
        Continue
        <svg xmlns="http://www.w3.org/2000/svg" class="sign-up-chevron" width="18" height="18" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
    </button>

    @* Checkbox HTML and CSS is AI generated *@
    <label class="custom-checkbox">
        <input type="checkbox"/>
        <span class="set-password-checkmark"></span>
        <p class="terms-text">Accept user terms and conditions</p>
    </label>
</form>