<section class="our-store-section">
    <div class="our-store-title-container">
        <div class="our-store-dot"></div>
        Our Store
    </div>

    <h5 class="our-store-heading">
        High quality fitness products <br> built for results
    </h5>

    <div class="our-store-image-container">
        <img src="images/product-image1.svg" class="our-store-image" alt="A gym dumbbell">
        <img src="images/product-image2.svg" class="our-store-image" alt="A sports duffle bag">
        <img src="images/product-image3.svg" class="our-store-image" alt="A workout watch">
        <img src="images/product-image4.svg" class="our-store-image" alt="A treadmill">
    </div>

    <p class="our-store-paragraph">
        Let's make something great work together.
        <a href="/">Get Free Quote</a>
    </p>
</section>