<section class="about-us-section">
    
    <div class="about-image-container">
        <img class="about-image" src="images/about-us-image.svg" alt="">
    </div>

    <div class="about-right-container">
        <div class="about-title">
            <div class="about-dot"></div>
            About Us
        </div>

        <h3 class="about-heading">Elevating Fitness Journey with Expert Guidance</h3>
        <p class="about-paragraph">
            We support every stage of your fitness journey with certified trainers, personalized
            programs proven methods designed to help you train safely, build strenght.
        </p>

        <div class="about-quote-container">
            <p class="about-quote">
                Our mission is to transform lives by combining expert guidance, powerful training
                programs, and a motivating community that helps you grow stronger every day.
            </p>
            <img class="quote-image" src="images/about-quote-image.svg" alt="Image with quotation marks">
        </div>
    </div>

</section>