<section class="contact-section-container">
    <h1 class="customer-service-heading">Customer Service</h1>

    <div class="contact-image-form">
        <img src="images/contact-us-image.svg" class="contact-us-image" alt="A woman training in a gym">

        <div class="contact-box">
            <partial name="Contact/_ContactInfo"/>
        </div>

        <partial name="Contact/_ContactForm"/>
    </div>
</section>