@{
    ViewData["Title"] = ViewData["Title"] ?? "Error";
}

<div class="error-container">
    <img src="~/images/error-img.svg" alt="">
    <h1 class="error-heading">@ViewData["Title"]</h1>
    <p class="error-paragraph">@ViewData["Message"]</p>

    @* if statement is AI generated *@
    @if (ViewData["StatusCode"] as int? == 404)
    {

        <a asp-controller="Home" asp-action="Index" class="error-link">
            Back to Homepage
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </a>
    }
</div>

@section Footer{
    <partial name="Footer/_Footer"/>
}