<header class="header-container">
    <nav class="nav-container">

        <a href="/">
            <img src="~/images/logotype.svg" alt="">
        </a>

        <partial class="mobile-nav" name="Header/_MobileNav"/>

    </nav>
</header>