<section class="partners-container">
    <div class="partner-logos">
        <img src="~/images/company-logo1.svg" alt="Company partner logo">
        <img src="~/images/company-logo2.svg" alt="Company partner logo">
        <img src="~/images/company-logo3.svg" alt="Company partner logo">
        <img src="~/images/company-logo4.svg" alt="Company partner logo">
        <img src="~/images/company-logo5.svg" alt="Company partner logo">
    </div>

    <h2 class="partners-text">Modern Equipment</h2>
</section>
