<form action="">
    <label for="Email">Email Address *</label>
    <input id="Email" type="text">

    <button type="submit">Continue</button>
</form>

<p>We will send a verification code to your email address.</p>