@model EnterEmailViewModel

<section class="sign-up-section">
    <div class="sign-up-container">
        <div class="sign-up-heading-container">
            <h1 class="sign-up-heading">Become a Member</h1>

            <p class="sign-up-paragraph">
                Sign up to continue your fitness journey with full access to your
                customized program, training history, and progress tracking. Stay
                consistent, monitor your development, and keep moving forward with
                the structure and support built into your account.
            </p>
        </div>

        <hr class="sign-up-linebreak">

        <partial name="ExternalAuth/_ExternalAuth"/>

        <div class="continue-container">
            <span class="sign-up-line"></span>
            <p class="sign-up-paragraph sign-up-continue">OR CONTINUE WITH</p>
            <span class="sign-up-line"></span>
        </div>

        <partial name="SignUp/_SignUpForm" model="Model"/>
    </div>
</section>