<div class="faq-container">
    <div class="faq-title-container">
        <div class="faq-title-dot"></div>
        Frequently Asked Questions
    </div>

    <h3 class="faq-heading">Common questions about 
        <span class="heading-second-line">gym and training</span>
    </h3>

    <div class="accordion-container">
        <div class="question border-bottom">
            <h4 class="accordion-heading">Q1. Do I need prior gym experience to Join CoreFitness?</h4>

            <div class="chevron-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
        </div>

        <div class="answer">
            <p class="accordion-paragraph">
                No, GymPro is designed for all fitness levels. Our trainers guide beginners with 
                proper techniques and structured workout plans to help them start safely and confidently.
            </p>

            <ul class="accordion-list">
                <li class="accordion-list-item">Every new member receives a personalized introduction to equipments</li>
                <li class="accordion-list-item">Workouts are designed to grow with you, ensuring beginners can start safely</li>
            </ul>
        </div>
    </div>

    <div class="accordion-container">
        <div class="question border-bottom">
            <h4 class="accordion-heading">Q2. What facilities are included with the membership?</h4>

            <div class="chevron-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
        </div>

        <div class="answer">
            <p class="accordion-paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio debitis explicabo dolorum, doloribus expedita nihil aliquid? Quod modi necessitatibus quidem.
            </p>
        </div>
    </div>

    <div class="accordion-container">
        <div class="question border-bottom">
            <h4 class="accordion-heading">Q3. Can I try them gym before taking a membership?</h4>

            <div class="chevron-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
        </div>

        <div class="answer">
            <p class="accordion-paragraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium tempore distinctio molestias dolorum iste dolorem nostrum ducimus, est aliquid perferendis enim, pariatur accusantium quia dignissimos nesciunt hic adipisci? Nesciunt, laudantium.
            </p>
        </div>
    </div>

    <div class="accordion-container">
        <div class="question border-bottom">
            <h4 class="accordion-heading">Q4. Are there group workout programs available?</h4>

            <div class="chevron-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
        </div>

        <div class="answer">
            <p class="accordion-paragraph">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, fuga! Enim blanditiis facere odio recusandae repudiandae incidunt facilis possimus, pariatur repellendus aut illum, itaque aliquam?
            </p>
        </div>
    </div>

    <div class="accordion-container">
        <div class="question">
            <h4 class="accordion-heading">Q5. Is nutrition guidance included in the plans?</h4>

            <div class="chevron-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
            </div>
        </div>

        <div class="answer">
            <p class="accordion-paragraph">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus iusto a sed ipsa, fugit voluptatum suscipit esse assumenda, laudantium, perspiciatis ut ad obcaecati eveniet? Enim ad vel modi beatae maxime sequi reiciendis. Neque impedit, excepturi tempore temporibus architecto possimus dolor.
            </p>
        </div>
    </div>
</div>