<div class="sign-up-socials-container">
    <a href="" class="sign-up-link">
        <img src="images/google-icon.svg" alt="Google logo">
    </a>

    <a href="" class="sign-up-link">
        <img src="images/facebook-icon.svg" alt="Facebook logo">
    </a>

    <a href="" class="sign-up-link">
        <img src="images/github-icon.svg" alt="Github logo">
    </a>
</div>