<section class="hero-section">
    <div class="hero-container">

        <div class="hero-left-container">

            <div class="hero-title-container">
                <div class="hero-dot"></div>
                <div class="hero-title">Strong Body. Strong Mind.</div>
            </div>

            <h1 class="hero-heading">Build Strength Boost Confidence Today!</h1>

            <p class="hero-paragraph">
                Begin your fitness journey with expert trainers, modern equipment, 
                and a supportive environment designed to help you build strength and confidence.
            </p>

            <div class="hero-bullet-grid-container">

                <div class="hero-bullet">
                    <div class="checkmark-container">
                        <div class="checkmark"></div>
                    </div>
                    Transform your body with training
                </div>

                <div class="hero-bullet">
                    <div class="checkmark-container">
                        <div class="checkmark"></div>
                    </div>
                    Personal training for real results
                </div>

                <div class="hero-bullet">
                    <div class="checkmark-container">
                        <div class="checkmark"></div>
                    </div>
                    Build confidence through fitness
                </div>

                <div class="hero-bullet">
                    <div class="checkmark-container">
                        <div class="checkmark"></div>
                    </div>
                    Fitness tailored to your goals
                </div>

            </div>

            <hr class="hero-linebreak">

            <a href="" class="hero-button">
                Get Started
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>

        </div>

        <div class="hero-image-container">
            <img src="/images/hero-image.svg" alt="Two persons training in the gym">
        </div>

    </div>
</section>